[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/Przemek2122/SDL
[submodule "ThirdParty/SDL_mixer"]
	path = ThirdParty/SDL_mixer
	url = https://github.com/Przemek2122/SDL_mixer
[submodule "ThirdParty/SDL_image"]
	path = ThirdParty/SDL_image
	url = https://github.com/Przemek2122/SDL_image
[submodule "ThirdParty/SDL_ttf"]
	path = ThirdParty/SDL_ttf
	url = https://github.com/Przemek2122/SDL_ttf
[submodule "ThirdParty/Crow"]
	path = ThirdParty/Crow
	url = https://github.com/CrowCpp/Crow
[submodule "ThirdParty/asio"]
	path = ThirdParty/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json
[submodule "ThirdParty/cpr"]
	path = ThirdParty/cpr
	url = https://github.com/libcpr/cpr
[submodule "ThirdParty/soci"]
	path = ThirdParty/soci
	url = https://github.com/SOCI/soci
