[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/Przemek2122/SDL
[submodule "ThirdParty/SDL_mixer"]
	path = ThirdParty/SDL_mixer
	url = https://github.com/Przemek2122/SDL_mixer
[submodule "ThirdParty/SDL_image"]
	path = ThirdParty/SDL_image
	url = https://github.com/Przemek2122/SDL_image
[submodule "ThirdParty/SDL_ttf"]
	path = ThirdParty/SDL_ttf
	url = https://github.com/Przemek2122/SDL_ttf
[submodule "ThirdParty/libuv"]
	path = ThirdParty/libuv
	url = https://github.com/Przemek2122/libuv
[submodule "ThirdParty/uvw"]
	path = ThirdParty/uvw
	url = https://github.com/Przemek2122/uvw
[submodule "ThirdParty/Crow"]
	path = ThirdParty/Crow
	url = https://github.com/CrowCpp/Crow
[submodule "ThirdParty/asio"]
	path = ThirdParty/asio
	url = https://github.com/chriskohlhoff/asio
